* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: sans-serif;
  max-width: 30rem;
  margin: auto;
  padding: 3rem 1rem 0rem 1rem;
}

.app {
  background-color: wheat;
  padding: 2rem;
  border-radius: 10px;
}

header {
  padding-bottom: 1rem;
}
.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div {
  padding: 0rem 0rem 0.5rem 0rem;
}

select {
  width: 3rem;
  text-align: right;
}

#btn {
  background: none;
  border: none;
  padding: 20px;
}
